.App-list {
  margin: 100px 100px 100px 100px;
}

.flex-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.flex-text {
  text-align: left;
}

.image {
  border: 1px solid #dddddd;
  width: 150px;
  height: 150px;
}

